@charset "UTF-8";

#mask{top:auto; bottom:0; height:calc(100vh - 96px);}

/* GNB */
#cusGnb{position:relative; display:flex; align-items:center; justify-content:space-between; padding:0 56px; height:80px; background:#fff; box-shadow:0 3px 7px rgba(0,0,0,0.1); z-index:52;}
#cusGnb .util{display:inline-flex; align-items:center; justify-content:flex-end; gap:16px;}
#cusGnb .util > li{position:relative; display:inline-flex; gap:16px; align-items:center;}
#cusGnb .util > li::after{display:inline-block; content:''; width:1px; height:16px; background:#dbdbdb;}
#cusGnb .util > li:last-child::after{display:none;}
#cusGnb .util > li a{position:relative; display:inline-flex; align-items:center; gap:8px; font-size: var(--fz-titleM); font-family: 'Pretendard_04';}
#cusGnb .util > li a:hover{text-decoration:none;}
#cusGnb .util > li a.log_person .micon{color:#777;}
#cusGnb .util > li a.goMain{color:var(--color-p50);}
#cusGnb .util > li .logUtil{ z-index:52; position:absolute; display:flex; flex-direction:column; gap:4px; right:50%; top:40px; transform:translateX(50%); background:#fff; border-radius:8px; box-shadow:0px 0px 7px rgba(0,0,0,0.2);}
#cusGnb .util > li .logUtil > li a{position:relative; display:flex; align-items:center; justify-content:center; padding:0 16px; font-size: var(--fz-bodyM); font-family: 'Pretendard_04'; height:40px; min-width:150px;}
#cusGnb .util > li .logUtil > li a:hover{text-decoration:underline;}

/* custom */
#cust{display:flex; padding-top:16px; background:#f5f5f5; height:calc(100vh - 80px); overflow:hidden;}
#cust .left{display:flex; flex-direction:column; justify-content:space-between; position:relative; padding:40px 24px 24px 24px; height:100%; width:256px; background:#fff; border-right:1px solid #dbdbdb; z-index:51;}
#cust .left .toggleBtn{position:absolute; right:16px; top:8px; width:24px; height:24px; transition:.3s;}
#cust .left .toggleBtn svg{width:100%; height:100%;}
#cust .left .toggleBtn.on{right:-24px; background:var(--color-main); border-radius:0 100px 100px 0; }
#cust .left .toggleBtn.on svg{transform:rotate(180deg);}
#cust .left .toggleBtn.on svg g{fill:#fff;}
#cust #lnb{display:flex; flex-direction:column; gap:8px;}
#cust #lnb > li > a{position:relative; display:inline-flex; align-items:center; gap:16px; padding:16px; width:100%; height:56px; color:#444; border-radius:8px;}
#cust #lnb > li > a.on{background:#111; color:#fff; box-shadow:0 7px 15px rgba(0,0,0,0.2);}
#cust #lnb > li > a.on .micon{color:#fff;}
#cust #lnb > li > a:hover{text-decoration:none;}
#cust #lnb > li > a:hover::before{position:absolute; content:''; left:-24px; top:0; height:100%; width:5px; background:#dbdbdb; border-radius:0 100px 100px 0;}
#cust #lnb > li > a:hover:not(.on){background:#f5f5f5;}
#cust #lnb > li > a.on::before{position:absolute; content:''; left:-24px; top:0; height:100%; width:5px; background:#111; border-radius:0 100px 100px 0;}
#cust #lnb > li > a:active:not(.on){opacity:.8;}

#cust .footMenu{display:flex; flex-direction:column; gap:16px;}
#cust .footMenu > li > a{display:inline-block; width:100%; height:100%;font-size: var(--fz-bodyM); color:#444;}
#cust .footMenu > li > a.em{color:#111; font-family: 'Pretendard_04';}
#cust .footMenu > li > a.homepage{display:flex; align-items:center; justify-content:space-between; margin-top:8px; padding:0 16px; height:48px; border:var(--line); border-radius:4px; transition:.3s;}
#cust .footMenu > li > a.homepage .micon{font-size: 16px; width:16px; color:#777;}
#cust .footMenu > li > a.homepage:hover{color:#111; border:1px solid #111; text-decoration:none;}

#cust .right{display:flex; flex-direction:column; gap:16px; position:relative; padding:40px 56px 0 56px; width:100%; background:#fff;  min-height:100%; max-height:100%; overflow:hidden;}

#cust .titleArea{display:flex; align-items:center; justify-content:space-between; margin-bottom:8px; }
#cust .titleArea .title{font-size: var(--fz-headlineL); font-family: 'Pretendard_04';}
#cust .titleArea .nav{display:inline-flex; gap:8px; }
#cust .titleArea .nav > li{display:flex; gap:8px; align-items:center; color:#777; font-size: var(--fz-bodyM);}
#cust .titleArea .nav > li .micon{font-size: 18px; width:18px;}
#cust .titleArea .nav > li::after{display:block; content:'/'; }
#cust .titleArea .nav > li:last-child::after{display:none;}


.cusCon{min-height:calc(100vh - 230px);}



#cust .titleArea{display:flex; align-items:center; justify-content:space-between;}
#cust .titleArea .title{font-size: var(--fz-headlineM); font-family: 'Pretendard_05';}
#cust .titleArea .nav{display:flex; align-items:center; justify-content:flex-end; gap:8px; }
#cust .titleArea .nav > li{position:relative; display:inline-flex; align-items:center; gap:4px;  font-size: var(--fz-bodyM); color:#777;}
#cust .titleArea .nav > li::after{content:''; width:8px; height:8px; border-top:1px solid #777; border-right:1px solid #777; transform:rotate(45deg);}
#cust .titleArea .nav > li:last-child::after{display:none;}
#cust .titleArea .nav > li .micon{font-size: var(--fz-bodyM); width:var(--fz-bodyM);}

#cust .cusCon{display:flex; flex-direction:column; gap:16px; padding-bottom:280px;  overflow-y:auto; -ms-overflow-style:none; scrollbar-width:none; }
#cust .cusCon::-webkit-scrollbar{display:none;}

/*SRH*/
#cust .subBox{width:100%; background:#fff;}
#cust .subBox .top{display:flex; align-items:center; justify-content:space-between; padding:4px 0; min-height:32px; background:#fff; width:100%;}
#cust .subBox .top .tit{display:inline-flex; align-items:center; gap:8px; color:var(--color-main);  font-family: 'Pretendard_05'; white-space:nowrap;}
#cust .subBox .top .tit .stxt{color:#444; font-size: var(--fz-bodyM); font-family: 'Pretendard';}
#cust .subBox .top button.tit.on{width:100%; justify-content:space-between;}
#cust .subBox .top button.tit.on .micon{transform:rotate(180deg);}
#cust .subBox .top .tit .micon{font-size: 20px; width:20px;}
#cust .subBox .listBox{padding:8px 0; background:#fff; width:100%; height:calc(100% - 40px);}
#cust .subBox .listBox .list{display:flex; flex-wrap:wrap; gap:8px 40px; }
#cust .subBox .listBox .list > li{position:relative;display:inline-flex; align-items:center; gap:16px; min-width:400px;}
#cust .subBox .listBox .list > li.two{width:830px;}
#cust .subBox .listBox .list > li:nth-child(3n)::after{display:none;}
#cust .subBox .listBox .list > li:last-child::after{display:none;}
#cust .subBox .listBox .list > li .inpTit{position:relative; font-size: var(--fz-bodyM); font-family: 'Pretendard_06'; text-align: justify; width:70px; letter-spacing:-2px; transform:translateY(7px);}
#cust .subBox .listBox .list > li .inpTit::after{content:''; display:inline-block; width:100%;}
#cust .subBox .listBox .list > li label,
#cust .subBox .listBox .list > li input::placeholder{font-size:var(--fz-labelM);}
#cust .subBox .listBox .list > li select{min-width:70px;}
#cust .subBox .listBox .list > li.only{width:100%;}
#cust .subBox .listBox .list > li .only,
#cust .subBox .listBox .list > li .only *{width:100%;}
#cust .inp{display:inline-flex; align-items:center; gap:4px;}
#cust .inp > li{display:inline-flex; align-items:center;}
#cust .inp.btns{gap:8px 16px; }
#cust .inp.btns label{display:inline-flex; align-items:center; gap:4px;}
#cust .listX{width:24px; height:24px; background:var(--color-sub); border-radius:4px; border:1px solid #dbdbdb;}
#cust .listX .micon{font-size: var(--fz-body); width:var(--fz-body); color:#fff;}

#cust .subBox.SRH{position:relative; padding-right:160px; border:3px solid #ccc; }
#cust .subBox.SRH .listBox{padding:8px 16px;}
#cust .subBox.SRH .full{width:calc(100% - 85px);}
#cust .subBox.SRH .stxt{margin-left:8px; color:#777; font-size: var(--fz-labelM);}
#cust .subBox .closeSrh{display:flex; position:absolute; align-items:center; justify-content:center; gap:2px; padding:8px; left:50%; bottom:-15px; height:15px; background:#111; border-radius:0 0 8px 8px; color:#fff; font-size: var(--fz-labelS);}
#cust .subBox .closeSrh .micon{color:#fff; font-size: 14px; width:14px;}
#cust .srhBtn{ position:absolute; display:inline-flex; flex-direction:row; align-items:center; justify-content:center;  gap:4px; right:0; top:0; padding:8px; height:100%; width:160px; border-left:1px solid #dbdbdb; }
#cust .srhBtn .btnAdm{width:70px;}


/*divBox*/
#cust .divBox{position:relative; display:flex; gap:24px; align-items:flex-start;}
#cust .divBox.row{flex-direction:row;}
#cust .divBox.column{flex-direction:column;}
#cust .divBox.row > .subBox{width:100%;}
#cust .divBox.column > .subBox{width:100%;}
#cust .divBox > .subBox.detail .tblAdm td{text-align:left;}
#cust .fileList{display:flex; flex-direction:column; gap:4px; }
#cust .fileList > li a{display:inline-flex; align-items:center; gap:4px;}
a.file{display:inline-flex; align-items:center; gap:4px; color:var(--color-t40);}
#cust .traBox{min-height:100px;}

#cust .tblFixed::after{position:absolute; content:''; width:100%; height:2px; background:var(--color-main); left:0; top:0;}

#cust textarea{min-height:100px; width:100%; resize:vertical; line-height: 1.5em;}

/*Modal*/
#cust .modal{position:relative; display:inline-block; padding:40px; background:#fff; min-width:800px;}
#cust .modal .title{display:inline-block; padding-bottom:24px; margin-bottom:24px; border-bottom:1px solid #dbdbdb; width:100%; font-size:var(--fz-headlineS); font-family: 'Pretendard_04';}
#cust .modal .x{position:absolute; right:16px; top:16px; }

#cust .modal.nonModal{position:fixed; right:0; top:110px; box-shadow:-15px 0 20px rgba(0,0,0,0.1); height:calc(100vh - 110px); }
#cust .modal.pop{display:none; z-index:51; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); min-width:800px; max-width:80%; min-height:500px; max-height:80vh; box-shadow:0 0 20px rgba(0,0,0,0.1); border-radius:4px; overflow:auto;}

#cust .popCont{position:relative;}
#cust .popCont .stxt{line-height:1.3em;}
#cust .popSrh{position:relative; margin-top:8px;padding:16px; padding-right:110px; background:#f5f5f5; }
#cust .popSrh .search{position:absolute; right:16px; top:16px;}
#cust .popSrh .list{display:flex; flex-wrap:wrap; gap:16px 40px; }
#cust .popSrh .list > li{position:relative;display:inline-flex; align-items:center; gap:16px; min-width:calc(30% - 50px);}
#cust .popSrh .list > li::after{position:absolute; content:''; right:-20px; top:0;  display:block; width:1px; height:100%; background:#dbdbdb;}
#cust .popSrh .list > li:nth-child(3n)::after{display:none;}
#cust .popSrh .list > li:last-child::after{display:none;}
#cust .popSrh .list > li .inpTit{position:relative; padding-left:10px; font-size: var(--fz-bodyM); font-family: 'Pretendard_05';}
#cust .popSrh .list > li .inpTit::before{position:absolute; content:''; left:0; top:50%; transform:translateY(-50%); width:4px; height:4px; background:#111; border-radius:100%;}
#cust .popSrh .list > li label,
#cust .popSrh .list > li input::placeholder{font-size: var(--fz-bodyM);}
#cust .popSrh .list > li select{min-width:100px;}
#cust .popSrh .list > li.only{width:100%;}
#cust .popSrh .list > li .only,
#cust .popSrh .list > li .only *{width:100%;}
#cust .popResult{margin-top:24px; }
#cust .popResult .txt{margin-bottom:4px;font-size: var(--fz-bodyM);font-family: 'Pretendard_04';}


/*Ex.*/
#cust .exList{display:flex; gap:16px; align-items:center;}
#cust .noList{display:inline-flex; align-items:center; justify-content:center; padding:24px; background:#f5f5f5; width:100%; min-height:200px; font-size: var(--fz-body); font-family: 'Pretendard_04';}
#cust .realgrid{display:flex; align-items:center; justify-content:center; width:100%; height:300px; background:#f5f5f5; color:var(--color-main); font-family: 'Pretendard_05'; font-size: var(--fz-bodyM);}


/*공급신청/계약 등록*/
#cust .scrollArea{padding:32px; border-radius:8px; background:#f5f5f5; max-height:200px; overflow-y:auto;}
#cust .agreeChk{display:flex; flex-direction:column; gap:16px; align-items:flex-end; justify-content:flex-end; margin-top:16px;}
#cust .agreeChk > li{display:inline-flex; align-items:center; gap: 16px;}
#cust .agreeSign{display:flex; align-items:center; flex-direction:column; gap:32px; justify-content:center; margin:56px auto;  text-align:center;}
#cust .agreeSign > ul{display:flex; gap:32px; align-items:center; }
#cust .agreeSign > ul > li{display:inline-flex; align-items:center; gap: 16px; font-family: 'Pretendard_05'; font-size: var(--fz-titleM);}
#cust .agreeSign label{display:flex; align-items:center; gap:8px;}
#cust .agrChkList{margin:30px 0 0 0; border:1px solid #dbdbdb; border-radius:8px; background:#fff; overflow:hidden; text-align:left;}
#cust .agrChkList > li .top{display:flex; align-items:center; justify-content:space-between; padding:25px 30px; border-bottom:1px solid #dbdbdb;}
#cust .agrChkList > li:last-child .top{border-bottom:0;}
#cust .agrChkList > li .top .foldTit{display:flex; align-items:center; gap:8px; cursor:pointer; font-size: 18px; font-family: 'Pretendard_04';}
#cust .agrChkList > li .moreView{display:flex; align-items:center; color:var(--color-main);}
#cust .agrChkList > li .moreView i{margin-left:10px;transform:rotate(90deg);}
#cust .agrChkList > li .moreView.on i{transform:rotate(270deg);}
#cust .agrChkList > li .txt{display:none; padding:10px 30px 30px 30px; background:#f5f5f5; max-height:250px; width:100%; line-height: 1.4em; overflow-y:auto !important; word-break:break-all;}

@media all and (max-width:768px){
	#cust .agrChkList{margin:16px 0 0 0;}
	#cust .agrChkList > li .top{padding:24px 20px;}
	#cust .agrChkList > li .top label{font-size: 16px;}
	#cust .agrChkList > li .moreView{font-size: 15px;}
	#cust .agrChkList > li .moreView i{margin-left:5px;}
	#cust .agrChkList > li .txt{padding:10px 20px 20px 20px; }
}

@media all and (max-width:480px){
	#cust .agrChkList{border-radius:10px;}
	#cust .agrChkList > li .moreView{text-indent:-9999px; font-size: 0; color:transparent;}
	#cust .agrChkList > li .top{padding:16px 13px;}
	#cust .agrChkList > li .top label{font-size: 15px;}
	#cust .agrChkList > li .top label .red{position:relative; font-size: 0; color:transparent;}
	#cust .agrChkList > li .top label .red::after{position:absolute; content:'*'; left:1px; top:-3px; color:var(--color-red); font-size: 15px;}
}


/* 문단 */
#cust .txtCont .txtBox{position:relative; margin:20px 0 0 0; font-size: 18px; color:#333;}
#cust .txtCont .txtBox *{line-height:1.5em;}
#cust .txtCont .txtBox .list{margin-top:20px;}
#cust .txtCont .txtBox .list > li{position:relative; padding-left:15px; }
#cust .txtCont .txtBox .list > li::before{position:absolute; content:''; left:0; top:11px; width:5px; height:5px; background:var(--color-main); border-radius:100%; }
#cust .txtCont .txtBox .list > li .line{margin:5px 0 10px 0;font-size: 16px;}
#cust .txtCont .txtBox > p{margin-bottom:15px;}
#cust .txtCont .txtBox > p:last-child{margin-bottom:0;}
#cust .txtCont .txtBox > p.em,
#cust .txtCont .txtBox > p .em{font-family: 'Pretendard_05'; color:#222;}
#cust .txtCont .txtBox .smallTxt{font-size: 13px;}

#cust .txtCont .txtBox .lawTit{position:relative; padding-left:20px; font-weight: 600;}
#cust .txtCont .txtBox .lawTit::before{content:''; position:absolute; left:0; top:7px; width:12px; height:12px; border:1px solid var(--color-main); background:#fff; border-radius:100%;}
#cust .txtCont .txtBox .lawTit::after{content:''; position:absolute; left:2px; top:9px; width:8px; height:8px; background:var(--color-main); border-radius:100%;}
#cust .txtCont .txtBox .lawBox{ border-radius:10px; font-size: 16px;}
#cust .txtCont .txtBox .lawBox *{line-height: 1.7em;}
#cust .txtCont .txtBox .lawBox .num{font-size: var(--fz-bodyM);}
#cust .txtCont .txtBox .lawBox dl{margin-bottom:30px;}
#cust .txtCont .txtBox .lawBox dl:last-child{margin-bottom:0;}
#cust .txtCont .txtBox .lawBox dt{font-family: 'Pretendard_05'; font-size: 18px;}
#cust .txtCont .txtBox .lawBox ul{padding-left:20px;}



/*tab*/
#tabAdm{border-bottom:1px solid #111;}
#tabAdm > li > a{border:1px solid #dbdbdb; border-bottom:0;}
#tabAdm > li > a.on{border:1px solid #111; border-bottom:0;}

/*FAQ*/
#cust .tabchk{overflow:auto;}
#cust .tabchk ul{min-width:}
#cust .tabchk ul li{margin-bottom:5px;}
#cust .tabchk ul li{float:left; margin-right:5px; }
#cust .tabchk ul li:last-child{margin-right:0; }
#cust .tabchk ul li a{display:flex; justify-content:center; align-items:center; gap:5px; padding:0 20px; border:1px solid #dbdbdb; background:#fff; border-radius:4px; color:#666; min-width:120px; height:35px; font-size: 15px; text-decoration:none;}
#cust .tabchk ul li a i{display:none; font-size: 20px; width:20px; border-radius:100%;}
#cust .tabchk ul li a.on{color:var(--color-main); border:1px solid var(--color-main);}
#cust .tabchk ul li a.on i{display:inline-block;}

#cust .faq_list{width: 100%; margin-top:8px; position:relative; border-top:1px solid #dbdbdb; border-radius:var(--borderM);}
#cust .faq_list:before{content:''; display:block; clear:both;}
#cust .faq_list .list_none{ text-align: center; padding: 60px 0; border-bottom: 1px solid #dbdbdb;}
#cust .faq_list dl{border: 1px solid #dbdbdb; border-top:0;}
#cust .faq_list dl:first-child{border-radius:10px 10px 0 0;}
#cust .faq_list dl:last-child{border-radius:0 0 10px 10px;}
#cust .faq_list dl.on{border:1px solid #2f3192;}
#cust .faq_list dt{position:relative; display:flex; align-items:center; gap:30px; padding:20px 30px; width:100%; cursor: pointer;}
#cust .faq_list dt.on:before{color:#fff; background:#2f3192;}
#cust .faq_list dt .q_blit{display:flex; justify-content:center; align-items:center; width:40px; height:40px; background:#dbdbdb; color:#fff; font-size:var(--fz-titleL); font-weight:400; border-radius:100%; -webkit-border-radius:100%; text-align:center; transition:0.3s; -webkit-transition:.3s; transition-property:background, color; -webkit-transition-property:background, color;}
#cust .faq_list dt.on .q_blit{background:var(--color-main); color:#fff; }
#cust .faq_list dt:after{content:''; position:absolute; top:50%; right:30px; transform:rotate(0deg) translateY(-50%); -webkit-transform:rotate(0deg) translateY(-50%); width:20px; height:20px; background:url(/images/common/faq_arrow.svg) no-repeat center center; background-size:contain;}
#cust .faq_list dt.on:after{transform:rotate(180deg) translateY(50%); -webkit-transform:rotate(180deg) translateY(50%);}
#cust .faq_list dt a{display: flex; flex-direction:column; gap:5px 0; padding:0 30px 0 0; font-size: var(--fz-titleM); font-family: 'Pretendard_04'; color: #222; line-height:1.4; font-weight:400; width:calc(100% - 90px);}
#cust .faq_list dt a:hover,
#cust .faq_list dt a:focus{text-decoration:none;}
#cust .faq_list dt a .type{color:#999; font-size: var(--fz-bodyM); }
#cust .faq_list dt.on a{ color: var(--color-main);}
#cust .faq_list dd{position:relative; padding:25px 25px 30px 100px; line-height: 1.7em; text-align:justify; background:#f9f9f9;}
#cust .faq_list dd p{word-break:normal; line-height: 1.7em;}
#cust .faq_list dd:before{content:'A'; display:block; position:absolute; top:50%; left:40px; transform:translateY(-50%); -webkit-transform:translateY(-50%); font-size:var(--fz-titleL); color:var(--color-main); font-family: 'Pretendard_04';}
#cust .faq_list dd img{ max-width: 100%; }
#cust .faq_list dd {display : none;}

/*자료실*/
#cust .areaPres{display:flex; flex-direction:column; gap:0; margin-top:8px; width:100%; border:1px solid #dbdbdb; border-radius:8px; overflow:hidden;}
#cust .areaPres > li{position:relative; display:inline-block; padding:24px 0 0 0;   width:100%; background:#fff; border-bottom:1px solid #dbdbdb;}
#cust .areaPres > li:last-child{border-bottom:0;}
#cust .areaPres > li .txtArea{display:flex; flex-direction:column; gap:4px; padding:0 100px 24px 24px;}
#cust .areaPres > li .blitA {font-size: var(--fz-bodyM); color:#444;}
#cust .areaPres > li .tit{display:inline-block; font-size:var(--fz-titleM); color:var(--color-main); font-family: 'Pretendard_04'; width:100%; line-height:1.3em;}
#cust .areaPres > li .nadate{display:inline-block; margin-top:8px; width:100%; font-size: var(--fz-bodyM); color:#777;}
#cust .areaPres > li .listGray{display:inline-block; padding:24px; width:100%; background:#F9F9F9; line-height:1.3em; }
#cust .areaPres > li .dwnBtn{position:absolute; right:40px; top:40px;}
#cust .areaPres > li .dwnBtn i{font-size: 32px; width:32px; transition:.3s;}
#cust .areaPres > li .dwnBtn:hover i{color:var(--color-main);}



/*miniPop*/
.miniPop{position:absolute; padding:16px; left:50%; top:50%; transform:translate(-50%, -50%); background:#fff; box-shadow:0 0 10px rgba(0,0,0,0.2);}
.miniPop .title{font-size: var(--fz-titleM); font-family: 'Pretendard_05'; padding-bottom:16px; border-bottom:1px solid #dbdbdb;}
.miniPop .cont{margin-top:24px;}
.miniPop .msg{margin:16px 0 32px 0;font-size: var(--fz-bodyM); text-align:center;}
.miniPop .x{position:absolute; right:16px; top:16px;}

.miniPop .txtList{margin-top:8px;font-size: var(--fz-bodyM);}
.miniPop .txtList > li{margin-bottom:4px;}
.miniPop .txtList > li:last-child{margin-bottom:0;}

.miniTbl{max-width:500px;}
.miniTbl th{width:150px; text-align:left; background:#f5f5f5;}
.miniTbl td{text-align:left !important;}


#cust .supplyPhase{position:relative; display:inline-flex; justify-content:space-between; padding:40px 130px 20px 130px; background:#fbfbfb; border:1px solid #dbdbdb; width:100%; }
#cust .supplyPhase .line{position:absolute; left:50%; bottom:60px; transform:translateX(-50%); width:calc(100% - 40px); height:3px; background:var(--color-main); border-radius:100px;}
#cust .supplyPhase .line::before{content:''; position:absolute; right:3px; top:50%; transform:translateY(-50%) rotate(45deg); width:21px; height:21px; border:3px solid var(--color-main); border-left:0; border-bottom:0; }
#cust .supplyPhase > li:not(.line){position:relative; padding-bottom:80px; color:#777;}
#cust .supplyPhase > li:not(.line)::after{position:absolute; content:''; left:50%; bottom:30px; transform:translateX(-50%); width:8px; height:8px; background:#fff; border:8px solid var(--color-p90); border-radius:100%; box-sizing:content-box; z-index:1;}
#cust .supplyPhase > li.on{color:var(--color-main); font-family: 'Pretendard_05'; font-size: var(--fz-titleM);}
#cust .supplyPhase > li.on::after{background:url(../images/usr/check_circle.svg) no-repeat 50% 50%; background-size:contain; width:42px; height:42px; bottom:20px; border:0;}